@model SmartMonitoring.Models.Point

@{
    var status = TempData["NodeAvailability"];
}
@using (Html.BeginForm("EditPoint", "Plant", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">
        <div class="row">
            <legend class="navbar-left" style="width:80%">Point Information</legend>
            <a href="@Url.Action("AddSensor", "Plant", new { area = "Categories" })" data-toggle="modal" data-target="#myModal" data-modal="myModal" title="Add New Plant" class="btn btn-success navbar-right" style="margin-top:5px;">
                Add New Sensor
            </a>
        </div>
        @if (status == null)
        {
            <div class="row">
                <div class="form-group">
                    @Html.RequiredLabelFor(model => model.PointName, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.PointName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PointName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PointDetails, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.PointDetails, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PointDetails, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.RequiredLabelFor(model => model.NoOfSensors, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.DropDownList("NoOfSensors", new List<SelectListItem>{
                    new SelectListItem{ Text="1", Value = "1" },
                     new SelectListItem{ Text="2", Value = "2" },
                      new SelectListItem{ Text="3", Value = "3" },
                       new SelectListItem{ Text="4", Value = "4" },
                        new SelectListItem{ Text="5", Value = "5" },
                         new SelectListItem{ Text="6", Value = "6" },
                          new SelectListItem{ Text="7", Value = "7" },
                           new SelectListItem{ Text="8", Value = "8" },

                 }, "Select no. of Sensors", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.NoOfSensors, "", new { @class = "text-danger" })
                    </div>
                </div>



                <div class="form-group">
                    <div class="col-md-offset-3 col-md-2">
                        <input type="submit" value="Save Changes" class="btn btn-success" />
                    </div>
                    @Html.ActionLink("Delete", "DeleteSelectedNode", "Plant", new { @class = "btn btn-danger navbar-left" })
                </div>

            </div>
        }
    </div>
}
<script>
    $(function () {
        $.ajaxSetup({ cache: false });
        $("a[data-modal]").on("click", function (e) {
            $('#myModalContent').load(this.href, function () {
                $('#myModal').toggle();
                $('#myModal').modal({
                    /*backdrop: 'static',*/
                    keyboard: true
                }, 'show');
            });
            return false;
        });
    });

    function closeModal() {
        $('#myModal').toggle();
    }
</script>